<!DOCTYPE html>

<html>

<head>
  <title>About</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>This site was created by Graham Morison. It uses data from mapbox.com and weatherstack.com to search for weather data based on the location you provided.</p>
    <img class="portrait" src="img/robot.png">
  </div>
  
  {{>footer}}
</body>

</html>